@model OnlineExamApp.Models.Admin

@{
    ViewData["Title"] = "AdminLogin";
}

<h1>AdminLogin</h1>



<div class="row">
    <div class="col-md-4">
        <!-- Added 'offset-md-4' and 'text-center' classes -->
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" onclick="Create()" value="Login" class="btn btn-outline-success" />
                <script>
                    function Create() {
                        alert("Login Successfully!");
                    }
                </script>
            </div>
        </form>
    </div>
</div>





@*@model OnlineExamApp.Models.Admin

@{
    ViewData["Title"] = "AdminLogin";
}

<h1>AdminLogin</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <input type="submit" onclick="Create
()"value="Login" class="btn btn-outline-success" />
                    <script>
    function Create(){
        alert("Login Successfullly!")

    }
</script>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

*@